body 
{
    background-color: @white;

    font-family: @font;
    font-size:   14px;

    cursor: default;
}

li { list-style: none;  }

h1, h2, h3, h4 { text-transform: uppercase; .half-bottom; }
h1 { font-size: 36px; .add-bottom; }
h2 { font-size: 24px; }            
h3 { font-size: 18px; }            
h4 { font-size: 16px; }            

span.label
{
    min-width: 10px;
    padding: 0px 4px;

    .centrify;

    background: black;
    color: @white;

    .round();
}

::-webkit-scrollbar       { height: 10px; }
::-webkit-scrollbar-track { background-color: white; .round(10px);   }
::-webkit-scrollbar-thumb { background-color: black; .round(); }

button, a.button, submit
{
    padding: 10px;
 
    font-family:    @font;
    font-size:      14px;
    text-transform: uppercase;

    border: 1px solid #555;
    .round();

    .gradient(#444, #000);
    color: white;

    cursor: pointer;
}

/*
 * Header
 */

#header {}

/*
 * Discussions
 */

#discussions
{
    padding-bottom: 10px;

    white-space: nowrap;
    overflow-x:  scroll;
    
    cursor: ew-resize;

    .say
    {
        display: inline-block;

        cursor: default;

        .motion
        {
            .left;
            .timestamp { height: 20px; font-size: smaller; }

            .who
            {
                margin: 0px 40px;

                font-size: x-large;

                .round(30px);
            }
        }

        .topics
        {
            .left;

            margin-top: 22px;

            li
            {
                .left;

                margin:  0px 2px;
                padding: 4px;
                
                border: 1px solid #eee;
                
                .gradient(#fff, #efefef);
                .round();

                &.new     { .gradient(lighten(@success, 15%), @success); border-color: lighten(@success, 10%); }
                &.someone { .centrify; .round(100px); }
            }
        }
    }

    .end { display: inline-block; margin: 0px 50px 0px 50px; font-size: 64px; font-family: "Parisienne"; }
}