.left  { float: left;  }
.right { float: right; }
.clear { clear: both;  }

.leftify    { text-align: left;    }
.rightify   { text-align: right;   }
.centrify   { text-align: center;  }
.justify    { text-align: justify; }

.add-top    { margin-top: 30px; }
.half-top   { margin-top: 15px; }
.remove-top { margin-top:  0px; }

.add-bottom    { margin-bottom: 30px; }
.half-bottom   { margin-bottom: 15px; }
.remove-bottom { margin-bottom:  0px; }

.nowrap { white-space: nowrap; }

.round(@radius: 4px)
{
    border-radius:         @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
}