{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets
        '@DiscussioneMainBundle/Resources/less/*'
        '@DiscussioneMainBundle/Resources/css/*' filter='less, cssrewrite, ?yui_css' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block headscripts %}
    {% javascripts '@DiscussioneMainBundle/Resources/js/css3-mediaqueries.js' filter='?yui_js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {% javascripts '@DiscussioneMainBundle/Resources/js/*' filter='?yui_js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}

    {% javascripts
        '@DiscussioneDiscussionBundle/Resources/coffee/*' filter='coffee, ?yui_js' %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}{% endblock %}