@margin: 50px;

body {
  background-image: url('/images/bg.png');
  background-repeat: repeat;

  font-family: "Sanchez";
  font-size: 1em;
  text-align: justify;

  cursor: default;
}

.container { margin: @margin auto; }
.row       { margin: @margin auto; }

section { margin: @margin inherit; }