body {
  background-image: url('/images/bg.png');
  background-repeat: repeat;

  font-size: 1.25em;
  text-align: justify;

  cursor: default;
}

@margin: 50px;

.container { margin: @margin auto; }
.row       { margin: @margin auto; }

section { margin: @margin inherit; }