svg {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#bubble-chart {
  svg {
    text { font-size: 0.75em; }
    g:first-child { display: none; }

    .node {
      circle { opacity: 0.25; transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out; }
      text { text-shadow: 1px 0px 2px white; }

      &:hover circle { opacity: 1.0; }
    }
  }
}

#stream-graph {
  path {
    transition: all 1s ease-in-out; -webkit-transition: all 1s ease-in-out;
    &:hover { fill: crimson !important; stroke-width: 2px; stroke: crimson; stroke-dasharray: 2, 2; }
  }
}

.award {
  text-align: center;
  margin-bottom: 2em;

  i {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;

    border-radius: 75px;
    background-color: crimson;

    font-size: 75px;
    line-height: 165px;
    vertical-align: middle;
    color: white;
  }
}